# --------------------------------------------------
# Python
# --------------------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.python-version

# --------------------------------------------------
# Virtual Environments
# --------------------------------------------------
.venv/
venv/
env/
ENV/

# --------------------------------------------------
# Environment Variables
# --------------------------------------------------
.env
.env.*
!.env.example
.env.local

# --------------------------------------------------
# Build Artifacts
# --------------------------------------------------
build/
dist/
*.egg-info/
.eggs/

# --------------------------------------------------
# Testing
# --------------------------------------------------
.pytest_cache/
.coverage
coverage/
coverage.xml
htmlcov/

# --------------------------------------------------
# Type Checking / Lint
# --------------------------------------------------
.mypy_cache/
.pytype/
.ruff_cache/
.pyre/

# --------------------------------------------------
# Jupyter
# --------------------------------------------------
.ipynb_checkpoints/

# --------------------------------------------------
# Databases
# --------------------------------------------------
*.db
*.sqlite
*.sqlite3

# --------------------------------------------------
# MLflow / MLOps
# --------------------------------------------------
mlruns/
artifacts/
dataset_versions/
datasets/
logs/
alerts/
monitoring_reports/

# Models
models/
*.pkl
*.joblib
*.onnx
*.pt
*.pth

# --------------------------------------------------
# Node
# --------------------------------------------------
node_modules/

# --------------------------------------------------
# IDEs
# --------------------------------------------------
.idea/
.vscode/

# --------------------------------------------------
# OS Files
# --------------------------------------------------
.DS_Store
Thumbs.db

# --------------------------------------------------
# Docker
# --------------------------------------------------
docker-compose.override.yml

# --------------------------------------------------
# Misc
# --------------------------------------------------
*.log
*.tmp
*.swp

# Temporary virtual environments
temp-env/